Add dashes to dd-mmm-yyyy in cookie's expires UTC string

Had a user (Firefox 38 on Linux) point out that my "remember me?" function wasn't working for them upon logging into my website. Every once in a while, someone points out that it doesn't work on some device/OS/browser combination, but finally I decide to seriously look into the issue if there is one.

My server implements "remember me?" by setting the `sessionId` cookie's Expires header for 1 year in the future. However, this user was seeing an ephemeral *session* cookie in their browser, not this far-future cookie.

I curled my own login endpoint to examine the expires header in the response:

```
Set-Cookie: __cfduid=xxxx; expires=Wed, 06-Jul-16 02:19:47 GMT; ...
Set-Cookie: sessionId=xxxx; expires=Wed, 06 Jul 2016 02:19:47 GMT; ...
```

The user reports that the `__cfduid` (Cloudflare) cookie was correctly expiring in 1 year while my site's `sessionId` cookie wasn't. What's the obvious difference? It's that my cookie's expires doesn't have dashes.

And it's because this library simply calls `this.expires.toUTCString()` which returns a string without dashes. ([Source](https://github.com/pillarjs/cookies/blob/a551e50592a09decb91c6d0218e9064d821f9582/lib/cookies.js#L109))

So I [steal a function](http://stackoverflow.com/questions/7374847/expiration-of-cookie-not-working-is-this-wrong) off Stack Overflow that prints the UTC string *with* dashes:

``` javascript
exports.cookieDate = function(date) {
  var padNum = function(n) {
    return n < 10 ? '0' + n : n;
  };

  var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
  var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

  var outString = '' +
    ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'][date.getUTCDay()] + ', ' +
    padNum(date.getUTCDate()) + '-' +
    months[date.getUTCMonth()] + '-' +
    date.getUTCFullYear() + ' ' +
    padNum(date.getUTCHours()) + ':' +
    padNum(date.getUTCMinutes()) + ':' +
    padNum(date.getUTCSeconds()) + ' GMT';

  return outString;
};
```

and I pass an object `{ toUTCString: function() { return cookieDate(date); }` into this cookie library so that it sets the cookie with my patched UTC string.

Now my curl looks like this:

```
Set-Cookie: __cfduid=xxxx; expires=Wed, 06-Jul-16 02:19:47 GMT; ...
Set-Cookie: sessionId=xxxx; expires=Wed, 06-Jul-2016 02:19:47 GMT; ...
```

Dashes, now.

User reports that all is good. Firefox 38 on Linux is now correctly parsing the Expires for my site's `sessionId` cookie and expiring it in a year.

I see that every big website I curl has dashes in its cookie expires header and http://curl.haxx.se/rfc/cookie_spec.html says "the only legal time zone is GMT and the separators between the elements of the date must be dashes". (I couldn't actually make sense of the date grammar in the RFC itself)

What do yall think?

I will need real proof that the dashes are the reason for the issue and not something else, especially since you are not referencing any actual standards and simply the cURL site. The standards come in the form of RFC 6265.

https://tools.ietf.org/html/rfc6265#section-4.1.1

> expires-av        = "Expires=" sane-cookie-date
> sane-cookie-date  = <rfc1123-date, defined in [RFC2616], Section 3.3.1>

https://tools.ietf.org/html/rfc2616#section-3.3.1

>    HTTP applications have historically allowed three different formats
   for the representation of date/time stamps:

>      Sun, 06 Nov 1994 08:49:37 GMT  ; RFC 822, updated by RFC 1123
>      Sunday, 06-Nov-94 08:49:37 GMT ; RFC 850, obsoleted by RFC 1036
>      Sun Nov  6 08:49:37 1994       ; ANSI C's asctime() format

>   The first format is preferred as an Internet standard and represents
   a fixed-length subset of that defined by RFC 1123 [8] (an update to
   RFC 822 [9]). The second format is in common use, but is based on the
   obsolete RFC 850 [12] date format and lacks a four-digit year.

You can see the standard supports our format, and even looks the format "Wed, 06-Jul-16 02:19:47 GMT" is invalid, because you need to have the full weekday name, not the abbreviation.

The expires on this module has been working fine in all browsers I have tested for years and years, so I am not inclined to change it, especially when the standards explicitly state that the format we are using is valid and even preferred.

Yeah, I understand.

I just presented the exact chain of events because that's really all I have to go on. To be clear, I don't actually expect you to change anything. There isn't enough information here and you are compliant with the RFCs.

See, the majority of users on my site do not have issues with my far-future `expires` login cookie. One user last night did have trouble from their laptop on FF38 on Linux.

After receiving this response...

```
Set-Cookie: __cfduid=xxx; expires=Wed, 06-Jul-16 02:19:47 GMT; path=/; domain=.example.com; HttpOnly
Set-Cookie: sessionId=xxx-xxx-xxx; path=/; expires=Wed, 06 Jul 2016 02:19:47 GMT; httponly
```

...their browser had a far-future expiring `__cfduid` cookie yet only an ephemeral `sessionId` cookie which baffled me. Especially when "throwing in some dashes" really did fix the issue for them.

Yet, speaking with that user some more today, their browser does correctly parse the expiration of this wikipedia cookie which has the same expires format as my cookie above:

```
Set-Cookie: WMF-Last-Access=07-Jul-2015;Path=/;HttpOnly;Expires=Sat, 08 Aug 2015 12:00:00 GMT
```

I will close this issue shortly since I've got nothing, but do you have any advice for a kind of gauntlet I can throw at this user that might illuminate an issue if there is one?

I have the same issue in an unrelated project and I found that the RFC2109 specifies that date in the Expires header must be dash separated. See: https://www.ietf.org/rfc/rfc2109.txt
And it turns out some older Browsers have implemented cookies this way.

Hi @Zeikko RFC 2109 is irrelevant. You can see that the RFC we follow here that I mentioned above, RFC 6265, obsoletes (i.e. replaces) RFC 2965. And RFC 2965 obsoletes (i.e. replaces) the RFC 2109 you are referencing. We can only follow one RFC and we follow the current one: RFC 6265.